body { /*no select */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: opacity 0.5s;
}

body.content-loaded #preloader {
    opacity: 0;
    pointer-events: none;
}

img {
    pointer-events: none;
}

#home-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: auto;
}

.discord-container {
    position: relative;
}

#discord {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width:4vw;
    max-width: 30px;
    filter:invert();
    transition: transform 0.3s ease;
    z-index: 5;
    pointer-events: auto;
}

#discord:hover {
    transform: scale(1.08);
    pointer-events: auto;
}

.tooltip {
    display: block;
    position: absolute;
    top: 70px; 
    right: 0; 
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 5;
    font-family: monospace;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.tooltip.visible {
    opacity: 1; 
}

.tooltip-arrow {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}
#home-icon img {
    width: 5vw;
    max-width: 60px;
    height: auto;
}

#navbar {
    padding: 20px 0;
    text-align: center;
}

#navbar a {
    margin: 0 50px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-family: "RefrigeratorDeluxe", sans-serif;
    font-weight: 200;
    font-size: 25px;
    padding: 12px 8px;
}

#navbar a:hover {
    color: #8f8f8f;
}

.dropdown {
    position: relative;
    display: inline-block; 
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.droptext {
    font-size: 5px;
}

.dropdown-content {
    left: 0px;
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 0; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    line-height: .7;
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.dropdown-content a {
    color: black;
    margin:0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@font-face {
    font-family: "RefrigeratorDeluxe";
    src: url("../Fonts/Refrigerator Deluxe Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    position: absolute;
    padding: 10px;
    background-color: blue;
    top: 200px;
    left: 10%;
    width: 80vw;
}

.amy {
  flex: 1;
  padding: 10px;
  height: 0;
  background-color: green;
  height: 500px;
  width: 30vw;
  position: relative;
  overflow: hidden;
}

.amyImage {
    position: absolute;
    opacity: 0;
    animation: fadeInFromTop 1s forwards;
    min-width: 500px;
    width: 100%;
    height: 100%;
    filter: grayscale(95%);
    right: 0;
    padding: 5px;
    border-radius: 7px;
    object-fit: contain;
    
}

.aboutText {
    flex: 1;
    padding: 10px;
    background-color: red;
    height: 500px;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




